DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_discord_client_id_here


# (Tùy chọn) Kênh mặc định kết nối ban đầu
GUILD_ID=your_guild_id_here
VOICE_CHANNEL_ID=your_voice_channel_id_here

# Cổng Web Server (Railway sẽ tự động cấp giá trị này)
PORT=3000
